<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>foot</title>
</head>
<body>
<footer class="footer bg-inverse " data-th-fragment="footer">
    <div class="container">
        <p class="m-0 text-center text-white">2018/8-2020/5</p>
    </div>

    <!-- JavaScript -->
    <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
    <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../../js/bootstrap-tagsinput.js" th:src="@{/js/jquery.tagsinput.min.js}"></script>
    <script src="../../js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>
    <script src="../../js/bootstrap-table/bootstrap-table.min.js" th:src="@{/js/bootstrap-table/bootstrap-table.min.js}"></script>
    <script src="../../js/bootstrap-table/bootstrap-table-ja-JP.js" th:src="@{/js/bootstrap-table/bootstrap-table-ja-JP.js}"></script>
    <script src="../../js/admin/ero-table.js" th:src="@{/js/admin/ero-table.js}"></script>
    <script src="../../js/admin/admin-con.js" th:src="@{/js/admin/admin-con.js}"></script>
    <script src="../../js/jquery-ui/jquery-ui.min.js" th:src="@{/js/jquery-ui/jquery-ui.min.js}"></script>
    <script src="../../js/image-hover/image-hover.js" th:src="@{/js/image-hover/image-hover.js}"></script>
    <script src="../../js/web-uploader/webuploader.min.js" th:src="@{/js/web-uploader/webuploader.min.js}"></script>
    <script src="../../js/web-uploader/webUp-init.js" th:src="@{/js/web-uploader/webUp-init.js}"></script>
    <script src="../../js/myTable/thymeleaf-bootstrap-paginator.js" th:src="@{/js/myTable/thymeleaf-bootstrap-paginator.js}"></script>
    <script src="../../js/cropper/cropper.min.js" th:src="@{/js/cropper/cropper.min.js}"></script>
    <script src="../../js/cropper/sitelogo.js" th:src="@{/js/cropper/sitelogo.js}"></script>
    <script src="../../js/video-play/video.min.js" th:src="@{/js/video-play/video.min.js}"></script>
</footer>
</body>
</html>